<body>
  <div ng-controller="ViewController">
    <script type="text/ng-template" id="alert.html">
      <div ng-transclude></div>
    </script>

    <div class="page-header page-header-default">
      <div class="panel panel-primary dropzone">
        <ul id="breadcrumb" class="breadcrumb">
          <li ng-class="{active: $state.current.name === 'root.home'}">
            <a ui-sref="root.home"><i class="icomoon icon-home2 text-size-xlarge" title="Portfolio"
                ng-style="{ color: ($state.current.name === 'root.home') ? '': 'gray' };"></i></a>
          </li>
          <li ng-class="{active: $state.current.name === 'root.warrants'}">
            <a ui-sref="root.watchlists"><i class="icomoon icon-bookmarks text-size-xlarge" title="Watchlists"
                ng-style="{ color: $state.current.name === 'root.watchlists' ? '': 'gray' };"></i></a>
          </li>
          <li ng-class="{active: $state.current.name === 'root.warrants'}">
            <a ui-sref="root.warrants"><i class="icomoon icon-stats-dots text-size-xlarge" title="Warrants"
                ng-style="{ color: $state.current.name === 'root.warrants' ? '': 'gray' };"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div uib-alert ng-repeat="alert in GlobalService.debug.alerts" ng-class="'alert-' + (alert.type || 'warning')"
      close="GlobalService.debug.close($index)">{{alert.msg}}</div>
  </div>

  <!-- Main content -->
  <div class="page-content">
    <div class="content-wrapper" id="main_content" ui-view="container"></div>
  </div>
</body>