<div class="row" ng-controller="WarrantEditorController">
  <div class="col-xl-5-24 .col-md-12">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body" style="height: 288px;">
        <div spinner-loader load-spinner={{loadSpinner}}></div>
        <table class="table table-striped table-bordered table-hover">
          <colgroup>
            <col width="50%" />
            <col width="50%" />
          </colgroup>
          <tr>
            <td>Provider:</td>
            <td>{{warrant.provider}}</td>
          </tr>
          <tr>
            <td>Expiration:</td>
            <td>{{warrant.expirationDate}}</td>
          </tr>
          <tr>
            <td>Exercise price:</td>
            <td>{{warrant.exercisePrice.toLocaleString(undefined, {maximumFractionDigits: 0})}}</td>
          </tr>
          <tr>
            <td>Ratio:</td>
            <td>{{warrant.ratio}}</td>
          </tr>
          <tr>
            <td>Reference price:</td>
            <td style="color:orange;"><b>{{warrant.referencePrice.toLocaleString(undefined, {maximumFractionDigits:
                0})}}</b></td>
          </tr>
          <tr>
            <td>Warrant price :</td>
            <td style="color:blue;"><b>{{warrant.price.toLocaleString(undefined, {maximumFractionDigits: 0})}}</b></td>
          </tr>
          <tr>
            <td>Up/Down:</td>
            <td ng-style="{ color: warrant.upDown > 0 ? 'green': 'red' };"><b>{{(warrant.upDown).toFixed(2)}}%</b></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-5-24 .col-md-12">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body" style="height: 288px;">
        <div spinner-loader load-spinner={{loadSpinner}}></div>
        <table class="table table-striped table-bordered table-hover">
          <tr>
            <td>Break-even price:</td>
            <td ng-style="{ color: warrant.breakEvenPrice > warrant.sharePrice ? 'red': 'green' };">
              <b>{{warrant.breakEvenPrice.toLocaleString(undefined, {maximumFractionDigits: 0})}}</b>
            </td>
          </tr>
          <tr>
            <td>Share price :</td>
            <td><b>{{warrant.sharePrice.toLocaleString(undefined, {maximumFractionDigits: 0})}}</b></td>
          </tr>
          <tr>
            <td>Curr. profit/loss (%):</td>
            <td ng-style="{ color: warrant.currentProfit > 0 ? 'green': 'red' };">
              <b>{{(warrant.currentProfit).toFixed(2)}}%</b>
            </td>
          </tr>
          <tr>
            <td>Est. share price:</td>
            <td>
              <div class="clearfix">
                <span
                  ng-style="{ color: (warrant.editor.popUpEstimatedPrice.newSharePrice||warrant.shareEstimatedPrice) > warrant.breakEvenPrice ? 'green': 'red' };"
                  data-ng-hide="warrant.editor.popUpEstimatedPrice.editMode"><b>{{(warrant.editor.popUpEstimatedPrice.newSharePrice||warrant.shareEstimatedPrice).toLocaleString(undefined,
                    {maximumFractionDigits: 0})}}</b></span>
                <input type="text"
                  placeholder="{{warrant.shareEstimatedPrice.toLocaleString(undefined, {maximumFractionDigits: 0})}}"
                  data-ng-show="warrant.editor.popUpEstimatedPrice.editMode"
                  data-ng-model="warrant.editor.popUpEstimatedPrice.newSharePrice" data-ng-required
                  ng-change='editPopUpEstimatedPrice(warrant)' size="6" />
                <button type="submit" data-ng-hide="warrant.editor.popUpEstimatedPrice.editMode"
                  class="btn btn-default btn-xs" ng-click=" openPopUpEstimatedPriceEditor(warrant);"><i
                    class="glyphicon glyphicon-pencil"></i></button>
                <button type="submit" data-ng-show="warrant.editor.popUpEstimatedPrice.editMode"
                  class="btn btn-success btn-xs" ng-click="savePopUpEstimatedPrice(warrant);"><i
                    class="glyphicon glyphicon-ok"></i></button>
                <button type="submit" data-ng-show="warrant.editor.popUpEstimatedPrice.editMode"
                  class="btn btn-danger btn-xs" ng-click="cancelPopUpEstimatedPriceEditor(warrant);"><i
                    class="glyphicon glyphicon-remove"></i></button>
              </div>
            </td>
          </tr>
          <tr>
            <td>Est. share profit:</td>
            <td
              ng-style="{ color: (warrant.editor.popUpEstimatedPrice.newShareProfit||warrant.shareEstimatedProfit) > 0 ? 'green': 'red' };">
              <b>{{(warrant.editor.popUpEstimatedPrice.newShareProfit||warrant.shareEstimatedProfit).toFixed(2)}}%</b>
            </td>
          </tr>
          <tr>
            <td>Est. warrant price:</td>
            <td style="color:darkslateblue;">
              <b>{{(warrant.editor.popUpEstimatedPrice.newWarrantPrice||warrant.estimatedPrice).toLocaleString(undefined,
                {maximumFractionDigits: 0})}}</b>
            </td>
          </tr>
          <tr>
            <td>Est. warrant profit:</td>
            <td
              ng-style="{ color: (warrant.editor.popUpEstimatedPrice.newProfit||warrant.estimatedProfit) > 0 ? 'green': 'red' };">
              <b>{{(warrant.editor.popUpEstimatedPrice.newWarrantProfit||warrant.estimatedProfit).toFixed(2)}}%</b>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col-xl-3-8 .col-md-12">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body" style="height: 288px;">
        <div spinner-loader load-spinner={{loadSpinner}}></div>
        <table class="table table-striped table-bordered table-hover" style="text-align:center;width:100%;">
          <colgroup>
            <col width="" />
            <col width="" />
            <col width="" />
            <col width="" />
            <col width="" />
          </colgroup>
          <thead>
            <tr>
              <th width="" style="text-align:center;"></th>
              <th width="" style="text-align:center;">Share profit</th>
              <th width="" style="text-align:center;">Share price</th>
              <th width="" style="text-align:center;">Warrant profit</th>
              <th width="" style="text-align:center;">Warrant price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Curr.</th>
              <td>
                <b></b>
              </td>
              <td>
                <b></b>
              </td>
              <td>
                <b></b>
              </td>
              <td>
                <b></b>
              </td>
            </tr>

            <tr>
              <th>5%</th>
              <td>
                <b></b>
              </td>
              <td>
                <b></b>
              </td>
              <td>
                <b></b>
              </td>
              <td>
                <b></b>
              </td>
            </tr>
            <tr>
              <th>10%</th>
              <td>
                <b></b>
              </td>
              <td>
                <b></b>
              </td>
              <td>
                <b></b>
              </td>
              <td>
                <b></b>
              </td>
            </tr>
            <tr>
              <th>15%</th>
              <td>
                <b></b>
              </td>
              <td>
                <b></b>
              </td>
              <td>
                <b></b>
              </td>
              <td>
                <b></b>
              </td>
            </tr>
            <tr>
              <th>20%</th>
              <td>
                <b></b>
              </td>
              <td>
                <b></b>
              </td>
              <td>
                <b></b>
              </td>
              <td>
                <b></b>
              </td>
            </tr>
            <tr
              ng-style="{ color: (warrant.editor.popUpEstimatedPrice.newShareProfit||warrant.shareEstimatedProfit) > 0 ? 'green': 'red' };">
              <th>Est.</th>
              <td>
                <b>{{(warrant.editor.popUpEstimatedPrice.newProfit||warrant.estimatedProfit).toFixed(2)}}%</b>
              </td>
              <td><b>{{(warrant.editor.popUpEstimatedPrice.newSharePrice||warrant.shareEstimatedPrice).toLocaleString(undefined,
                  {maximumFractionDigits: 0})}}</b></td>
              <td>
                <b>{{(warrant.editor.popUpEstimatedPrice.newShareProfit||warrant.shareEstimatedProfit).toFixed(2)}}%</b>
              </td>
              <td><b>{{(warrant.editor.popUpEstimatedPrice.newWarrantPrice||warrant.estimatedPrice).toLocaleString(undefined,
                  {maximumFractionDigits: 0})}}</b></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-5-24 .col-md-12">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body" style="height: 288px;">
        <div spinner-loader load-spinner={{loadSpinner}}></div>
        <table class="table table-striped table-bordered table-hover" style="text-align:center;width:100%;">
          <colgroup>
            <col width="" />
            <col width="" />
            <col width="" />
          </colgroup>
          <thead>
            <tr>
              <td width="" style="text-align:center;">#</td>
              <td width="" style="text-align:center;">Buying price</td>
              <td width="" style="text-align:center;">Profit</td>
            </tr>
          </thead>
          <tbody>
            <tr style="color:green;">
              <td>Est.</td>
              <td><b>{{(warrant.editor.popUpEstimatedPrice.newWarrantPrice||warrant.estimatedPrice).toLocaleString(undefined,
                  {maximumFractionDigits: 0})}}</b></td>
              <td><b>0%</b></td>
            </tr>
            <tr style="color:blue;">
              <td>Curr.</td>
              <td><b>{{warrant.price.toLocaleString(undefined, {maximumFractionDigits: 0})}}</b></td>
              <td>
                <b>{{(warrant.editor.popUpEstimatedPrice.newWarrantProfit||warrant.estimatedProfit).toFixed(2)}}%</b>
              </td>
            </tr>
            <tr style="color:slateblue;">
              <td>Buying</td>
              <td>
                <div class="clearfix">
                  <input type="text"
                    placeholder="{{(warrant.editor.popUpEstimatedPrice.buyingPrice.price||warrant.price).toLocaleString(undefined, {maximumFractionDigits: 0})}}"
                    data-ng-model="warrant.editor.popUpEstimatedPrice.buyingPrice.price"
                    ng-change='editPopUpBuyingPrice(warrant)' size="6" />
                </div>
              </td>
              <td>
                <b>{{(warrant.editor.popUpEstimatedPrice.buyingPrice.profit||warrant.estimatedProfit).toFixed(2)}}%</b>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <div data-ng-show="$state.current.name === 'root.warrants'">
            <span class="pull-left"><b>Add to Watchlist:</b></span>
            <div class="input-group col-xl-1-1 py-2">
              <span class="input-group-addon"><i class="icomoon icon-bookmarks"></i></span>
              <select class="form-control" ng-model="watchlist" required>
                <option ng-repeat="(watchlist, warrants) in GlobalService.cache.watchlists">{{watchlist}}</option>
              </select>
            </div>
            <div class="pull-right">
              <button class="btn btn-primary btn-sm" type="submit" data-ng-show="watchlist" ng-click="addWarrantToWatchlist(warrant);">Submit</button>
            </div>
          </div>
          <div data-ng-show="$state.current.name === 'root.watchlists' && watchlist.watchlist !== 'holding'">
            <button type="button" class="btn btn-default mb-2" ng-click="isRemoveCollapsed = !isRemoveCollapsed">Remove {{warrant.warrant}} from this Watchlist</button>
            <div uib-collapse="!isRemoveCollapsed">
              <div class="well well-sm">
                <button class="btn btn-primary btn-sm" type="button"
                ng-click="removeWarrantFromWatchlist(warrant); isRemoveCollapsed = !isRemoveCollapsed">Confirm</button>
                <button class="btn btn-warning btn-sm" type="button"
                ng-click="isRemoveCollapsed = !isRemoveCollapsed;">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>