<div class="row" ng-controller="WarrantsController">
  <div class="col-xl-1-5 .col-md-12">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body" style="height: 360px;">
        <div spinner-loader load-spinner={{loadSpinner}}></div>
        <table class="table table-striped table-bordered table-hover">
          <tr>
            <th>Provider:</th>
            <td>{{warrant.provider}}</td>
          </tr>
          <tr>
            <th>Exercise price:</th>
            <td>{{warrant.exercisePrice.toLocaleString(undefined, {maximumFractionDigits: 0})}}</td>
          </tr>
          <tr>
            <th>Ratio:</th>
            <td>{{warrant.ratio}}</td>
          </tr>
          <tr>
            <th>Reference price:</th>
            <td style="color:orange;"><b>{{warrant.referencePrice.toLocaleString(undefined, {maximumFractionDigits:
                0})}}</b></td>
          </tr>
          <tr>
            <th>Warrant price :</th>
            <td style="color:blue;"><b>{{warrant.price.toLocaleString(undefined, {maximumFractionDigits: 0})}}</b></td>
          </tr>
          <tr>
            <th>Up/Down:</th>
            <td ng-style="{ color: warrant.upDown > 0 ? 'green': 'red' };"><b>{{(warrant.upDown).toFixed(2)}}%</b></td>
          </tr>
          <tr>
            <th>Break-even price:</th>
            <td ng-style="{ color: warrant.breakEvenPrice > warrant.sharePrice ? 'red': 'green' };">
              <b>{{warrant.breakEvenPrice.toLocaleString(undefined, {maximumFractionDigits: 0})}}</b>
            </td>
          </tr>
          <tr>
            <th>Share price :</th>
            <td><b>{{warrant.sharePrice.toLocaleString(undefined, {maximumFractionDigits: 0})}}</b></td>
          </tr>
          <tr>
            <th>Curr. profit/loss (%):</th>
            <td ng-style="{ color: warrant.currentProfit > 0 ? 'green': 'red' };">
              <b>{{(warrant.currentProfit).toFixed(2)}}%</b>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col-xl-1-5 .col-md-12">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body" style="height: 360px;">
        <div spinner-loader load-spinner={{loadSpinner}}></div>
        <table class="table table-striped table-bordered table-hover">
          <tr>
            <th>Est. share price:</th>
            <td>
              <div class="clearfix">
                <span
                  ng-style="{ color: (warrant.editor.popUpEstimatedPrice.newSharePrice||warrant.shareEstimatedPrice) > warrant.breakEvenPrice ? 'green': 'red' };"
                  data-ng-hide="warrant.editor.popUpEstimatedPrice.editMode"><b>{{(warrant.editor.popUpEstimatedPrice.newSharePrice||warrant.shareEstimatedPrice).toLocaleString(undefined,
                    {maximumFractionDigits: 0})}}</b></span>
                <input type="text"
                  placeholder="{{warrant.shareEstimatedPrice.toLocaleString(undefined, {maximumFractionDigits: 0})}}"
                  data-ng-show="warrant.editor.popUpEstimatedPrice.editMode"
                  data-ng-model="warrant.editor.popUpEstimatedPrice.newSharePrice" data-ng-required
                  ng-change='editPopUpEstimatedPrice(warrant)' size="6" />
                <button type="submit" data-ng-hide="warrant.editor.popUpEstimatedPrice.editMode"
                  class="btn btn-default btn-xs" ng-click=" openPopUpEstimatedPriceEditor(warrant);"><i
                    class="glyphicon glyphicon-pencil"></i></button>
                <button type="submit" data-ng-show="warrant.editor.popUpEstimatedPrice.editMode"
                  class="btn btn-success btn-xs" ng-click="savePopUpEstimatedPrice(warrant);"><i
                    class="glyphicon glyphicon-ok"></i></button>
                <button type="submit" data-ng-show="warrant.editor.popUpEstimatedPrice.editMode"
                  class="btn btn-danger btn-xs" ng-click="cancelPopUpEstimatedPriceEditor(warrant);"><i
                    class="glyphicon glyphicon-remove"></i></button>
              </div>
            </td>
          </tr>
          <tr>
            <th>Est. warrant price:</th>
            <td style="color:darkslateblue;">
              <b>{{(warrant.editor.popUpEstimatedPrice.newWarrantPrice||warrant.estimatedPrice).toLocaleString(undefined,
                {maximumFractionDigits: 0})}}</b>
            </td>
          </tr>
          <tr>
            <th>Est. share profit:</th>
            <td
              ng-style="{ color: (warrant.editor.popUpEstimatedPrice.newShareProfit||warrant.shareEstimatedProfit) > 0 ? 'green': 'red' };">
              <b>{{(warrant.editor.popUpEstimatedPrice.newShareProfit||warrant.shareEstimatedProfit).toFixed(2)}}%</b>
            </td>
          </tr>
          <tr>
            <th>Est. warrant profit:</th>
            <td
              ng-style="{ color: (warrant.editor.popUpEstimatedPrice.newProfit||warrant.estimatedProfit) > 0 ? 'green': 'red' };">
              <b>{{(warrant.editor.popUpEstimatedPrice.newProfit||warrant.estimatedProfit).toFixed(2)}}%</b>
            </td>
          </tr>
        </table>
        <table class="table table-striped table-bordered table-hover" style="text-align:center;width:100%;">
          <colgroup>
            <col width="" />
            <col width="" />
            <col width="" />
          </colgroup>
          <thead>
            <tr>
              <th width="" style="text-align:center;">#</th>
              <th width="" style="text-align:center;">Buying price</th>
              <th width="" style="text-align:center;">Profit</th>
            </tr>
          </thead>
          <tbody>
            <tr style="color:green;">
              <td>Est.</td>
              <td><b>{{(warrant.editor.popUpEstimatedPrice.newWarrantPrice||warrant.estimatedPrice).toLocaleString(undefined,
                  {maximumFractionDigits: 0})}}</b></td>
              <td><b>0%</b></td>
            </tr>
            <tr style="color:blue;">
              <td>Curr.</td>
              <td><b>{{warrant.price.toLocaleString(undefined, {maximumFractionDigits: 0})}}</b></td>
              <td>
                <b>{{(warrant.editor.popUpEstimatedPrice.newWarrantProfit||warrant.estimatedProfit).toFixed(2)}}%</b>
              </td>
            </tr>
            <tr style="color:slateblue;">
              <td>Buying</td>
              <td>
                <div class="clearfix">
                  <input type="text"
                    placeholder="{{(warrant.editor.popUpEstimatedPrice.buyingPrice.price||warrant.price).toLocaleString(undefined, {maximumFractionDigits: 0})}}"
                    data-ng-model="warrant.editor.popUpEstimatedPrice.buyingPrice.price"
                    ng-change='editPopUpBuyingPrice(warrant)' size="6" />
                </div>
              </td>
              <td>
                <b>{{(warrant.editor.popUpEstimatedPrice.buyingPrice.profit||warrant.estimatedProfit).toFixed(2)}}%</b>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-xl-3-5 .col-md-12">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body" style="height: 360px;">
        <div spinner-loader load-spinner={{loadSpinner}}></div>
        <div class="chart-bar">
          <canvas id="allInfoLastSevenDays"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>